.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.movies__detail .movie__detail {
  background-color: #fff;
  margin: 100px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies__detail .movie__detail a {
  display: grid;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.movie__detail img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie__detail .movie__title,
.movie__detail .movie__year {
  margin: 0;
  font-weight: 500;
}
.movie__detail .movie__title {
  margin-bottom: 5px;
  font-weight: 24px;
  color: #2c2c2c;
}
.movie__detail .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}
.movie__genres li,
.movie__detail .movie__year {
  margin-right: 10px;
  font-weight: 14px;
}
